main {
    text-size: 30;
  }
  .center {
      display:block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 200px;
      padding-top: 200px;
      width: 20%;
  }
  
  .top-menu {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
  }
  
  .header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #555;
    display: inline;
    float: right;
    margin: 14px 10px 10px 15px;
  }
  
  .header-text:hover {
    text-decoration: underline;
  }
  
  .avatar {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline;
    float: right;
    margin: 5px 5px 3px 10px;
    background-color: teal;
    border-top: 6px solid teal;
    border-left: 12px solid teal;
    border-bottom: 6px solid teal;
    border-right: 12px solid teal;
    border-radius: 50%;
  }
  
  .material-icons {
    display: inline;
    float:right;
    font-size: 26px;
    margin: 10px;
    color: #555;
  }
  
  .material-icons:hover {
    color: black;
  }
  
  #search {
    margin-top: 3px;
    float: left;
    color: #999;
  }
  
  .searchbar {
    display: block;
    margin-left: 655px;
    height: 30px;
    margin-right: 10px;
    width: 600px;
    border: 1px solid white;
    border-radius: 28px;
    box-shadow: 0 0 7px 3px #DDD;
  } 
  
  .searchbar:hover {
    box-shadow: 0 0 7px 3px #BBB;
  }
  
  #sform {
    font-size: 18px;
    height: 28px;
    width: 525px;
    border: transparent;
  }
  
  .buttons {
    background-color: EEFEEF; /* Green */
    border: none;
    color: #767676;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 10px;
  }
  
  .buttons:hover {
    background-color: #EEE;
    box-shadow: 0 0 2px 1px #BBB;
  }
  
  .bdiv {
    display: block;
    margin-left: 750px;
    height: 30px;
    margin-right: 10px;
    width: 600px;
  }
  
  .gtext {
    display: block;
    margin-top: 80px;
    margin-left: 880px;
    font-size: 13px;
    font-family: arial, helvetia, sans-serif;
    color: #343434;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    text-decoration: underscore;
  }
  
  a:active {
    text-decoration: underscore;
  }
  
  .footer {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr;
  }